# OpenOCD config for CMSIS-DAP (DAPLink) + STM32F407
source [find interface/cmsis-dap.cfg]
transport select swd

# DAPLink is stable around 4MHz on most boards. Reduce if unstable.
adapter speed 4000

source [find target/stm32f4x.cfg]
reset_config srst_only srst_nogate
